server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: chat-rest
          uri: lb://chat-service
          predicates:
            - Path=/api/rooms/**

        - id: chat-ws
          uri: lb:ws://chat-service
          predicates:
            - Path=/ws/**

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns:
              - "http://localhost:5173"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
